<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findtutor">
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindTutor"
        android:usesCleartextTraffic="true">
        <activity android:name=".tutor.GetTutorActivity" />
        <activity android:name=".tutor.EditTutorActivity" />
        <activity android:name=".tutor.RegisterTutorActivity" />
        <activity android:name=".tutor.TutorDetailsActivity" />
        <activity android:name=".user.GetUserActivity" />
        <activity android:name=".user.EditUserActivity" />
        <activity android:name=".user.RegisterUserActivity" />
        <activity android:name=".login.LoginActivity" />


        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>
    </application>

</manifest>